/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("./fonts/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/roboto-v20-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("./fonts/roboto-v20-latin-900.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v20-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v20-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/roboto-v20-latin-900.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
}

body {
  /*background-image: url("https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
    backdrop-filter: blur(8px);*/
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  color: #0d0751;
}

#background {
  background-image: url("./assets/photo-1502602898657-3e91760cbb34.webp");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.2;
}

.button-box {
  margin-top: 25px;
  text-align: center;
}

.button-box:hover {
  width: 300%;
  text-align: right;
}

button {
  cursor: pointer;
  background-color: #ffffff;
  padding: 5px;
  border: 0px;
  border-radius: 2px;
  position: absolute;
  bottom: 50px;
}

.main-text {
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.days-since {
  font-size: 130px;
}

.secondary-text {
  font-size: 20px;
  text-align: center;
}

.days-remain {
  font-size: 20px;
  font-weight: bold;
}
